<html>
    <head>
        <title> Social Media App </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'socialapp/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'socialapp/bootstrap-theme.min.css' %}" > 

        <script src="{% static 'socialapp/jquery.min.js' %}"></script>
        <script src="{% static 'socialapp/bootstrap.min.js' %}"></script>

        <script>
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            });
        </script>
    </head>

    <body>
        <h1> Post Wall </h1>

        <hr>
        <a href="{% url 'socialapp:logout_user' %}" class="btn btn-info" role="button">Logout</a>

        <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create Post
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="{% url 'socialapp:create_post'  type_id='MessagePost' %}">Message</a></li>
            </ul>
          </span>

        <hr>

        <p> Click on a post to view the post details </p>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Title</th>
                <th>User</th>
                <th>Post Type</th>
              </tr>
            </thead>
            <tbody>

            {% for post in posts %}
                <tr class="clickable-row" data-href="{% url 'socialapp:post_detail' pk=post.id %}">
                <td> {{ post.post_date }} </td>
                <td> {{ post.title }} </td>
                <td> {{ post.user }} </td>
                <td> {{ post.post_type }} </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a class="btn btn-info" role="button" href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a class="btn btn-info" role="button" href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    </body>
</html>

